<section>
    <h3>Other Rad Things</h3>
    <div class="section-text">
      <ul>
        <li>2013, 2014, 2018 POWDER Magazine Buyers Guide Boot tester</li>
        <li>150 Days skied in 2017-18 Season</li>
      </ul>
    </div>
</section>