<picture>
    <a href="#"><!-- maybe this is full screen thing especially for mobile -->
      {{> atoms-gallery-image }}
    </a>
    <caption>Alpine Meadows</caption><!-- check the mdn on this I think its not quite right --><!-- this has the problem of hiding below the image on the scaled up version -->
</picture>