<section>
    <h3>{{ heading }}</h3>
    <div class="section-text">
        <ul>
            {{# stackedBlockList }}
                <li>headline</li>
            {{/ stackedBlockList }}
        </ul>
    </div>
</section>
