<h3 class="screen-reader">Sponsors</h3>
  <div class="section-text">
    <ul id="sponsors-list">
      {{> molecules-sponsor }}
      {{> molecules-sponsor }}
      {{> molecules-sponsor }}
      {{> molecules-sponsor }}
    </ul>
  </div>
