<div id="header_menu" class="header-menu"><!-- remove the button from being a top level of the grid -->
    <button class="active">Menu</button><!-- the button comes from js to make it connect to the js it needs -->
</div>