 /*------------------------------------*\
    #TABLE OF CONTENTS
\*------------------------------------*/
/**
 * ABSTRACTS..............................Declarations of Sass variables & mixins
 * BASE...................................Default element styles
 * LAYOUT.................................Layout-specific styles
 * COMPONENTS.............................Component styles
 * UTILITIES..............................Utility classes
 */

/*------------------------------------*\
    #ABSTRACTS
\*------------------------------------*/
@import "scss/abstracts/variables";
@import "scss/abstracts/mixins";
@import "scss/abstracts/colors";
@import "scss/abstracts/typography";





/*------------------------------------*\
    #BASE
\*------------------------------------*/
@import "scss/base/reset";
@import "scss/base/body";
@import "scss/base/links";
@import "scss/base/lists";
@import "scss/base/headings";
@import "scss/base/forms";
@import "scss/base/buttons";
@import "scss/base/main";
@import "scss/base/media";
@import "scss/base/text";
@import "scss/base/table";





/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
@import "scss/layout/layout";





/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/
@import "scss/components/buttons";
@import "scss/components/definition-list";
@import "scss/components/definition-list-list";
@import "scss/components/hero";
@import "scss/components/tout";
@import "scss/components/section";
@import "scss/components/stacked-block";
@import "scss/components/stripe";
@import "scss/components/footer";
@import "scss/components/footer-nav";
@import "scss/components/header";
@import "scss/components/logo";
@import "scss/components/icon";
@import "scss/components/input";
@import "scss/components/page-header";
@import "scss/components/pagination";
@import "scss/components/primary-nav";
@import "scss/components/promo-block";
@import "scss/components/progress-tracker";
@import "scss/components/text-passage";
@import "scss/components/field";
@import "scss/components/search-form";
@import "scss/components/stacked-block-list";
@import "scss/components/total";





/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/
@import "scss/utilities/visibility";
@import "scss/utilities/spacing";

$primary: #F7D134;
$secondary: #96aecd;

$white: #fefefe;
$light-gray: #e6e6e6;

$global-margin: 1rem;
$global-padding: 1rem;

$section-space: 3rem;

$global-border-radius: 5px;

$header-font: 'brandon-grotesque', sans-serif;

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: $primary;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  margin-top: 0; // this might be overkill but bottom margins keep the grid easier to control
}

p {
  margin-top: 0;
}

h1 {
  // color: black;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}

a {
  color: black;
}

a:hover {
  text-decoration: line-through;
}

button {
  background: $primary;
  // color: $white;
  font-size: 1.25rem;
  padding: $global-padding;
  border: 2px solid black;
  border-radius: $global-border-radius;
  font-family: $header-font;
}

ul {
  list-style: none; // browser reset
  padding-left: 0; // browser reset
}

/* li {
  // font-family: $header-font; // nope this goes overkill
} */

.screen-reader {
  display: none; // while working on design
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 44rem;
  margin-left: auto;
  margin-right: auto;
  // margin-bottom: $global-margin;
  padding: $global-padding;
  padding-bottom: 0;

  h1 {
  text-align: center;

    @media (min-width: map-get($breakpoints, medium)) {
      text-align: left;
    }

    a {
      text-decoration: none;
    }
  }
}

main {
  display: grid;
  // grid-gap: 1rem;
  margin-bottom: $section-space;

  @media (min-width: map-get($breakpoints, medium)) {
    grid-template-columns: repeat(2, 1fr);
  }

  > h2 {
    padding-left: $global-padding;
    padding-right: $global-padding;

    @media (min-width: map-get($breakpoints, medium)) {
      grid-column: 2;
    }
  }

  picture {
    grid-column: 1;
    padding-left: $global-padding;
    padding-right: $global-padding;

    @media (min-width: map-get($breakpoints, medium)) {
      grid-row: 1/3;
      grid-column: 1;
      justify-self: end;
      max-width: 22rem;
    }

    img {
      max-width: 100%; // browser reset
      border-radius: $global-border-radius;
      filter: grayscale(100%);
    }
  }

  .main-content {
    grid-row: 3;
    grid-column: 1;
    margin: $global-margin;
    padding: $global-padding;

    @media (min-width: map-get($breakpoints, medium)) {
      grid-row: 2;
      grid-column: 2;
      margin: 0;
      margin-right: $global-margin;
      margin-bottom: $section-space;
    }

    /* li {
      // margin-bottom: $global-margin/2;
    } */
  }

  .main-background {
    grid-row: 3;
    grid-column: 1;
    background: $white;
    z-index: -1;
    border-radius: $global-border-radius;
    margin: $global-margin;
    margin-bottom: 0;
    border: 2px solid black;

    @media (min-width: map-get($breakpoints, medium)) {
      grid-row: 2;
      grid-column: 1/3;
      padding-top: $global-padding;
      padding-bottom: $global-padding;
    }
  }
}

.results-sub {
  margin-left: $global-margin;
}

#menu_small {
  padding: $global-padding;
  border-radius: $global-border-radius;

  ul {
    display: flex;
    flex-direction: column;
    margin: 0;

    li {
      border: 2px solid black;
      border-radius: $global-border-radius;
      margin-bottom: $global-margin;
      font-weight: bold;

      a {
        color: black;
        width: 100%;
        padding-top: $global-padding;
        padding-bottom: $global-padding;
        display: block;
        text-align: center;
      }
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}

.header-byline {
  background: $light-gray;
  padding: $global-padding;
  border-radius: $global-border-radius;
}

.header-menu {
  display: grid; // way overkill but get the button in place
  align-content: center;
  justify-content: end;
  align-self: flex-start;
}

#gallery {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: $global-padding;
  padding-right: $global-padding;
  margin-bottom: $section-space;

  picture {
    flex: 1 1 10rem;
    transition-duration: 2000ms;
  }

  img {
    max-width: 100%;
    transition-duration: 2000ms;
    filter: grayscale(100%);
    clip-path: circle(39% at center); // trial and error number
  }
}

#gallery img:hover {
  // scale: 1.2;
  transform: scale(1.2);
  z-index: 2;
    border-radius: $global-border-radius;
    filter: grayscale(0);
    clip-path: circle(71% at center); // trial and error number
}



#video-edits {
  margin-bottom: $section-space;

  .video-area {
    display: grid;
    // grid-gap: 1rem;
    margin-bottom: $section-space;
    max-width: 66rem; // Im not 100 on this yet
    margin: 0 auto;
    
    @media (min-width: map-get($breakpoints, medium)) {
      grid-template-columns: repeat(2, 1fr);
    }

    > iframe {
      margin: $global-margin;
      border-radius: $global-border-radius;
      grid-row: 1/3;
      grid-column: 1;
      max-width: calc(100% - 2rem);

      @media (min-width: map-get($breakpoints, medium)) {
        grid-row: 1/3;
        justify-self: end;
      }
    }

    h4, > .video-area-title {
      grid-row: 3;
      grid-column: 1;

      @media (min-width: map-get($breakpoints, medium)) {
        grid-row: 1;
        grid-column: 2;
        align-self: end;
      }
    }

    h4 {
      padding-left: $global-padding;
      padding-right: $global-padding;
      margin-top: $global-margin/2;
    }

    .video-area-title svg {
      width: 10rem;
      margin-top: $global-margin/2;
      padding-left: $global-padding;
      padding-right: $global-padding;
    }

    > p {
      grid-row: 4;
      grid-column: 1;
      padding: $global-padding;
      padding-top: 0;

      @media (min-width: map-get($breakpoints, medium)) {
        grid-row: 2;
        grid-column: 2;
        max-width: 22rem;
        padding-top: $global-padding; // reset from small
      }
    }

    > .video-area-background {
      border-radius: $global-border-radius;
      z-index: -1;
      grid-row: 2/5;
      grid-column: 1;
      border: 2px solid black;
 
      @media (min-width: map-get($breakpoints, medium)) {
        grid-row: 2;
        grid-column: 1/3;
      }
    } // .video-area-background

    > .video-area-spacer {
      grid-row: 2;
      grid-column: 1;
      min-height: 5rem;

      @media (min-width: map-get($breakpoints, medium)) {
        display: none;
      }
    }
  } // .video-area
} // #video-edits

#sponsors {
  padding-left: $global-padding;
  padding-right: $global-padding;

  > h3 {
    text-align: center;
  }
}

#sponsors-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;

  >li {
    margin-bottom: $section-space;
    text-align: center;
    font-weight: bold;

    svg {
      width: 10rem;
    }
  }
}

.sponsor-stack {
  display: flex;
  flex-direction: column;

  > svg {
    margin-bottom: $global-margin;
  }
}

footer {
  max-width: 44rem;
  margin: 0 auto;
  padding-left: $global-padding;
  padding-right: $global-padding;
  margin-bottom: $section-space;

  @media (min-width: map-get($breakpoints, medium)) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

    .footer-social {
      grid-column: 2;
      padding: $global-padding;
      // text-align: center;
    }
  }
}

.footer-social ul {
  display: flex;
  svg {
    width: 3rem;
    margin-right: $global-margin;
  }
}

footer nav li {
  border-radius: $global-border-radius;
  padding: $global-padding;
  border: 2px solid black;
  margin-bottom: $global-margin;
  font-weight: bold;

  a {
    text-decoration: none;
  }
}

.active {
	display: inline;
}

.inactive {
	display: none;
}

.snowledge:hover {
  fill: #009f9c; // Im not sure about this I might keep it something thats more in the theme
}