<div class="footer-social">
    <h4>Kenzie (Morris) Bathurst</h4>
    <h4 class="screen-reader">Social Media</h4>
    <ul>
        {{> atoms-social-icon }}
        {{> atoms-social-icon }}
    </ul>
</div>